<!DOCTYPE html>
<html>
    <head>
        <title>Work</title>
    </head>
    <body>
        <h1>Work For <%= user.username %> To Do</h1>
        <a href="/">Home</a>
        <br/>
        <a href="/complete">Completed Work</a>
        <% if (work.length > 0) { %>
            <% for(i=0; i < work.length ; i++) { %>
                <hr />
                <h2><%= work[i].name %></h2>
                <p>Due Date: <%= work[i].dueDate.toDateString() %></p>
                <p width="100" height="20"><%= work[i].description %></p>
                <form action="/work/delete" method="POST">
                    <input hidden name="id" value="<%= work[i]._id %>" />
                    <button type="submit">No longer due</button>
                </form>
                <form action="/complete/add" method="POST">
                    <input hidden name="id" value="<%= work[i]._id %>" />
                    <button type="submit">Completed</button>
                </form>
                <hr />
            <% } %>
        <% } else { %>
            <h3>Lucky you! You have no work to do!</h3>
        <% } %>
        <h4>Add work to do here:</h4>
        <form action="/work/add" method="POST">
            <label for="name">Assignment:</label>
            <input type="text" name="name" autocomplete="off" required />
            <br />
            <small>When entering dates, select the date 1 day ahead of the due date</small>
            <br />
            <label for="dueDate">Due Date:</label>
            <input type="date" pattern="\d{4}-\d{2}-\d{2}" name="dueDate" required />
            <br />
            <label for="description">Description:</label><br/>
            <textarea type="text" name="description" autocomplete="off" rows="5" cols="50" required ></textarea>
            <br />
            <button type="submit">Enter</button>
        </form>
    </body>
</html>